# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# User defined ignore
/MishpahugHaifa/.idea
/MishpahugHaifa/.settings
/MishpahugHaifa/.classpath
/MishpahugHaifa/.project
/MishpahugHaifa/target
/.idea
MishpahugHaifaFront/node_modules/*

