<table class="mdl-grid" *ngIf = 'eventsExist'>
  <tr>
    <td class="mdl-cell mdl-cell--3-col" *ngFor="let k of keys">{{k}}</td>
  </tr>
  <tr class="mdl-cell mdl-cell--12-col" *ngFor="let event of events">
    <td class="mdl-cell mdl-cell--3-col" *ngFor="let k of keys">
      {{event[k]}}
    </td>
  </tr>

</table><!-- TODO: material design table https://github.com/angular/components/issues/5927#issuecomment-317016960-->

<div *ngIf = '!eventsExist'> You have not created any events yet.. </div>