<!--The content below is only a placeholder and can be replaced.-->
<div class="centered container">
  <div class="events">
    <div class="centered">
      <app-eventlist></app-eventlist>
    </div>
  </div>
  <div class="ads">
    <div class="centered">
      <app-footer></app-footer>
    </div>
  </div>
  <div class="header">
    <div class="centered">
      <app-header></app-header>
    </div>
  </div>
  <div class="loginform">
    <div class="centered">
      <app-login></app-login>
    </div>
  </div>

<router-outlet></router-outlet>
