
.container{
  width: 90vw; height:90vh;

  display: grid;
  grid-template-columns: 33% auto 40%;
  grid-template-rows: 10% 25% 20% 5% auto 10%;
  grid-gap: 2vh 2vw;
}

.container > div {
  position: relative;
  box-shadow: 0.5vh 0.5vh 1.5vh 0 rgba(0,0,0, 0.2);
}

.centered{position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%)}

.header {grid-area: 1/1/2/4;}
.ads{grid-area: 6/1/7/4;}
.events{grid-area: 2/2/6/4;}
.loginform{grid-area: 2/1/4/2;}
.calendar{grid-area: 4/1/6/2;}
