
.container{
  width: 95vw; height:95vh;
  display: grid;
  grid-template-columns: 25% auto 15%;
  grid-template-rows: 10% 10% 10% 5% 10% 10% 5% auto 10%;
  grid-gap: 0.5vh 0.5vw;
}

.container > div {
  position: relative;
  box-shadow: 0.5vh 0.5vh 1.5vh 0 rgba(0,0,0, 0.2);
}

.centered{position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%)}

.header {grid-area: 1/1/2/4;}
.ads{grid-area: 9/1/10/4;}
.events{grid-area: 2/2/9/3;}
.loginform{grid-area: 2/1/6/2; }
.calendar{grid-area: 6/1/9/2;}
